.item,
[class*='item--'] {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.item__title {
  padding: 1rem 1.5rem;
  background-image: linear-gradient(to top, $c-black 0%, rgba($c-black, 0.35));
  font-size: 2rem;
  line-height: 1.1;
  will-change: transform;

  > * {
    will-change: transform, opacity;
  }
}

.item__poster {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: opacity;
}
