.nav__item {
  border-bottom: 1px solid $c-darker;
}

.nav__item__link {
  display: block;
  padding: 2rem;
  color: $c-light;
  text-decoration: none;
  transition: background-color 0.35s ease-in-out;

  &:hover {
    background-color: $c-darker;
  }

  .is-active > & {
    background-color: lighten($c-dark, 10%);
    pointer-events: none;
  }
}
